.elementor-21 .elementor-element.elementor-element-2fa686a .elementor-text-editor {text-align: left;}
.elementor-21 .elementor-element.elementor-element-2fa686a {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-2fa686a > .elementor-widget-container {margin: -30px 0px -30px 0px;padding: 10px 10px 10px 10px;}
.elementor-21 .elementor-element.elementor-element-6daf306 .elementor-text-editor {text-align: left;}
.elementor-21 .elementor-element.elementor-element-6daf306 {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-6daf306 > .elementor-widget-container {margin: -30px 0px -50px 0px;padding: 10px 10px 10px 10px;}
.elementor-21 .elementor-element.elementor-element-d96ba8e {margin-top: 20px;margin-bottom: 20px;}
.elementor-21 .elementor-element.elementor-element-b48ede6 .elementor-heading-title {color: #fc8624;font-size: 30px;}
.elementor-21 .elementor-element.elementor-element-bfdb074 .elementor-heading-title {color: #fc8624;font-size: 22px;}
.elementor-21 .elementor-element.elementor-element-eca3a42 {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-eca3a42 .elementor-text-editor {column-gap: 0px;}
.elementor-21 .elementor-element.elementor-element-c4e3ff5 .elementor-heading-title {color: #fc8624;font-size: 22px;}
.elementor-21 .elementor-element.elementor-element-8a250cd {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-8a250cd .elementor-text-editor {column-gap: 0px;}
.elementor-21 .elementor-element.elementor-element-e09c5b2 {margin-top: 20px;margin-bottom: 20px;}
.elementor-21 .elementor-element.elementor-element-b3b962c .elementor-heading-title {color: #fc8624;font-size: 30px;}
.elementor-21 .elementor-element.elementor-element-f489912 .elementor-heading-title {color: #fc8624;font-size: 22px;}
.elementor-21 .elementor-element.elementor-element-cda35f3 {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-cda35f3 .elementor-text-editor {column-gap: 0px;}
.elementor-21 .elementor-element.elementor-element-4744035 {margin-top: 20px;margin-bottom: 20px;}
.elementor-21 .elementor-element.elementor-element-6c52248 .elementor-heading-title {color: #fc8624;font-size: 30px;}
.elementor-21 .elementor-element.elementor-element-450f81b .elementor-heading-title {color: #fc8624;font-size: 22px;}
.elementor-21 .elementor-element.elementor-element-9d151f7 {font-size: 18px;}
.elementor-21 .elementor-element.elementor-element-9d151f7 .elementor-text-editor {column-gap: 0px;}