.elementor-25 .elementor-element.elementor-element-2379174c .elementor-text-editor {text-align: justify;}
.elementor-25 .elementor-element.elementor-element-2379174c {font-size: 20px;}
.elementor-25 .elementor-element.elementor-element-2379174c > .elementor-widget-container {margin: -30px 0px -30px 0px;padding: 10px 10px 10px 10px;}